@charset "UTF-8";

body {
	color: white;
	background-color: black;
}
.container{
  margin:0 auto;
  width: 600px;
}
/* 主要btn屬性 */
.custom-newbtn {
	width: 30px;
	height: 30px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px
		0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
}

/* 1 */
.newbtn-list{
    width: 30px;
    height: 30px;
    background: rgb(28,217,69);
    background: linear-gradient(0deg, rgba(73,227,112,0.86) 0%,
            rgba(91,198,27,0.86) 100%);
    border-radius: 50%;
    border: 1px solid  black;
    text-align: center;

    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px
            0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.newbtn-list:before {
	height: 0%;
	width: 2px;
}

/* 特別號 */
.specbtn{
    width: 30px;
    height: 30px;
    background: #FF0000;
    background: linear-gradient(0deg, #FF5511 , #FF3333);
    border-radius: 50%;
    border: 1px solid  black;
    text-align: center;

    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px
            0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.specbtn:before {
	height: 0%;
	width: 2px;
}

.user-list{
    width: 30px;
    height: 30px;
    background: linear-gradient(0deg, #80DEEA 0%,
            #4DD0E1 100%);
    border-radius: 50%;
    border: 1px solid  black;
    text-align: center;

    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px
            0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.user-list:before {
	height: 0%;
	width: 2px;
}

/* 2 */
.newbtn-2 {
	background: rgb(96, 9, 240);
	background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%,
		rgba(129, 5, 240, 1) 100%);
	border: none;
}

.newbtn-2:before {
	height: 0%;
	width: 2px;
}

.newbtn-2:hover {
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0
		rgba(116, 125, 136, .5), inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
		inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
